.gradle
.DS_Store
.idea/.name
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries
.classpath
.project
.idea
.metadata
.externalNativeBuild/*
*.iml
*.dex
*.apk
*.ap_
*.class
*/misc.xml
*.log

Thumbs.db
bin/
gen/
/app/app.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/captures
node_modules/




