<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zcwfeng.fastdev">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>

    <application
        android:name=".basic.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sample_okhttp.OkhttpUtilsMainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".BindingData.MvvmDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MediaSample.MediaLibUseDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widgettest.TestWidgetActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".intent_ref.IntentReferenceActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.CoordinatorLayoutTestActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.RefreshTestActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.NDKDemoActivity" android:screenOrientation="portrait"></activity>
        <service
            android:name="com.zcwfeng.fastdev.service.RobMoney"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>
    </application>


</manifest>
