<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zcwfeng.fastdev">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- AD -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <application
        android:name=".basic.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Enables the Android Pay API -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <!-- ad refrence -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <!--应用内购买广告 -->
        <activity
            android:name="com.google.android.gms.ads.purchase.InAppPurchaseActivity"
            android:theme="@style/Theme.IAPTheme" />
        <!-- end -->

        <activity
            android:name=".ScrollingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sample_okhttp.OkhttpUtilsMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BindingData.MvvmDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MediaSample.MediaLibUseDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widgettest.TestWidgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intent_ref.IntentReferenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CoordinatorLayoutTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RefreshTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NDKDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RxJavaDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".renderscript.RenderScriptTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".renderscript.EditPictureActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".binder.AIDLTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".glide.GlideLibDemos"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".secure.skb.ExamplesRSA_DESActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".secure.skb.binding.ExamplesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.DampingScrollActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".flyrefresh.FlyRefreshActivity"
            android:screenOrientation="portrait" />

<!--
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
-->

        <service android:name="com.zcwfeng.fastdev.binder.AIDLTestService">
            <intent-filter>
                <action android:name="com.zcwfeng.fastdev.binder.AIDLTestService" />
            </intent-filter>
        </service>

        <service
            android:name=".service.RobMoney"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>
        <service
            android:name=".service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>