<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zcwfeng.fastdev">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- AD -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".basic.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ImageLibActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScrollingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NewFutureApi24Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sample_okhttp.OkhttpUtilsMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BindingData.MvvmDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MediaSample.MediaLibUseDemo"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.activity.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widgettest.TestWidgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intent_ref.IntentReferenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CoordinatorLayoutTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RefreshTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NDKDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".renderscript.RenderScriptTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".renderscript.EditPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".binder.AIDLTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".glide.GlideLibDemos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".secure.skb.ExamplesRSA_DESActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".secure.skb.binding.ExamplesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DampingScrollActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flyrefresh.FlyRefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HttpRequestStudyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SlideHRecyclerViewTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ImageRefViewTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CustomViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DatabasesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ServiceActivity"
            android:screenOrientation="portrait" />


        <activity android:name=".demos.demorealm.activity.RealmDemoMainActivity" />
        <activity android:name=".demos.demorealm.activity.DogListActivity" />
        <activity android:name=".demos.demorealm.activity.QueryActivity" />
        <activity android:name=".demos.demorealm.activity.AllDogActivity" />
        <activity android:name=".demos.demorealm.activity.ConditionQueryActivity" />
        <activity android:name=".demos.demorealm.activity.UpdateActivity" />
        <activity android:name=".demos.demorealm.activity.OtherQueryActivity" />
        <activity android:name=".demos.demorealm.async.AsyncActivity" />
        <activity android:name=".demos.demorealm.async.AddDeleteActivity" />
        <activity android:name=".demos.demorealm.async.AsyncQueryActivity" />
        <activity android:name=".demos.demorealm.async.UpdateCatActivity" />
        <activity
            android:name=".demos.zoomimageheader.activity.ZoomImageHeaderActivity"
            android:theme="@style/translucent" />
        <activity android:name=".demos.zoomimageheader.activity.HomeActivity"/>

        <service
            android:name=".binder.AIDLTestService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.zcwfeng.fastdev.binder.AIDLTestService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />


        <service android:name=".service.BackGroupService" />
        <service android:name=".service.ForegroundService" />
        <service android:name=".service.TheIntentService" />


        <!-- 元数据 -->
        <meta-data
            android:name="APPID"
            android:value="${M_APPID}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <meta-datai
            android:name="UMENG_APPKEY"
            android:value="5836ac9af43e482b58001896" />

        <!-- Enables the Android Pay API -->
        <!--<meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />-->
        <!-- ad refrence -->
        <!--<meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />-->

        <!-- Include the AdActivity configChanges and theme. -->
        <!--<activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />-->

        <!-- 应用内购买广告 -->
        <!--<activity
            android:name="com.google.android.gms.ads.purchase.InAppPurchaseActivity"
            android:theme="@style/Theme.IAPTheme" />-->

        <!--<service
            android:name=".service.RobMoney"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>-->
        <!-- end -->
        <activity
            android:name=".ui.activity.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ui.activity.RequestActivity"></activity>

        <receiver android:name=".ui.fragment.image.glide.FSAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
            </intent-filter>
        </receiver>


        <meta-data
            android:name="com.zcwfeng.fastdev.ui.fragment.image.glide.CustomImageSizeGlideModule"
            android:value="GlideModule" />
    </application>


</manifest>